@font-face {
  font-family: "AnonymousPro";
  src: url(fonts/AnonymousPro-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "RobotoMono";
  src: url(fonts/RobotoMono-VariableFont_wght.ttf) format("truetype");
}

body {
  background-color: #f5f4d2;
}

.head {
  background-color: #2a2e2d;
  color: #f5f4d2;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.head h1 {
  font-family: 'AnonymousPro', Courier, monospace;
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.head nav ul {
  font-family: 'RobotoMono', Courier, monospace;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.head nav ul li {
  padding: 10px;
}

.content {
  background-color: #f5f4d2;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.aboutme {
  margin: 10%;
  margin-bottom: 5%;
  width: 80%;
  border: 5px solid #2a2e2d;
}

.aboutme h2 {
  color: #f5f4d2;
  background-color: #2a2e2d;
  font-family: 'AnonymousPro', Courier, monospace;
  font-size: 30px;
  margin: 0;
  padding-left: 5px;
}

.aboutme p {
  color: #2a2e2d;
  font-family: 'RobotoMono', Courier, monospace;
  padding: 5px;
  margin: 0;
}

.mywork {
  margin: 10%;
  margin-top: 5%;
  border: 5px solid #2a2e2d;
}

.mywork h2 {
  color: #f5f4d2;
  background-color: #2a2e2d;
  font-family: 'AnonymousPro', Courier, monospace;
  font-size: 30px;
  margin: 0;
  padding-left: 5px;
}

.myworkcol {
  display: flex;
  flex-direction: column;
}

.myworkrow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.work1 {
  color: #f5f4d2;
  width: 50%;
  height: 50%;
  border: 5px solid #2a2e2d;
  margin: 4px;
  position: relative;
}

.work1::before {
  content: "";
  background-image: url(../src/assets/000512300013.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

.work1 h3 {
  background-color: #2a2e2d;
  font-family: 'RobotoMono', Courier, monospace;
  inline-size: min-content;
  position: relative;
  border: 5px solid #2a2e2d;
}

.work2 {
  color: #f5f4d2;
  width: 50%;
  height: 50%;
  border: 5px solid #2a2e2d;
  margin: 4px;
  position: relative;
}

.work2::before {
  content: "";
  background-image: url(../src/assets/000512300014.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

.work2 h3 {
  background-color: #2a2e2d;
  font-family: 'RobotoMono', Courier, monospace;
  inline-size: min-content;
  position: relative;
  border: 5px solid #2a2e2d;
}

.work3 {
  color: #f5f4d2;
  width: 50%;
  height: 50%;
  border: 5px solid #2a2e2d;
  margin: 4px;
  position: relative;
}

.work3::before {
  content: "";
  background-image: url(../src/assets/000512320025.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

.work3 h3 {
  background-color: #2a2e2d;
  font-family: 'RobotoMono', Courier, monospace;
  inline-size: min-content;
  position: relative;
  border: 5px solid #2a2e2d;
}

.work4 {
  color: #f5f4d2;
  width: 50%;
  height: 50%;
  border: 5px solid #2a2e2d;
  margin: 4px;
  position: relative;
}

.work4::before {
  content: "";
  background-image: url(../src/assets/000512310033.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

.work4 h3 {
  background-color: #2a2e2d;
  font-family: 'RobotoMono', Courier, monospace;
  inline-size: min-content;
  position: relative;
  border: 5px solid #2a2e2d;
}

.work1:hover {
 border: 5px solid #fe525b;
 scale: 104%;
}

.work1:hover h3 {
  background-color: #fe525b;
  border: 5px solid #fe525b;
}

.work1:hover::before {
  opacity: 1.0;
}

.work2:hover {
  border: 5px solid #fe525b;
  scale: 104%;
 }

 .work2:hover h3 {
   background-color: #fe525b;
   border: 5px solid #fe525b;
 }

 .work2:hover::before {
  opacity: 1.0;
}

 .work3:hover {
  border: 5px solid #fe525b;
  scale: 104%;
 }

 .work3:hover h3 {
   background-color: #fe525b;
   border: 5px solid #fe525b;
 }

 .work3:hover::before {
  opacity: 1.0;
}

 .work4:hover {
  border: 5px solid #fe525b;
  scale: 104%;
 }

 .work4:hover h3 {
   background-color: #fe525b;
   border: 5px solid #fe525b;
 }

 .work4:hover::before {
  opacity: 1.0;
}