@font-face {
  font-family: "AnonymousPro";
  src: url(fonts/AnonymousPro-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "RobotoMono";
  src: url(fonts/RobotoMono-VariableFont_wght.ttf) format("truetype");
}

body {
  background-color: #f5f4d2;
}

.header {
  background-color: #2a2e2d;
  color: #f5f4d2;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header h1 {
  font-family: 'AnonymousPro', Courier, monospace;
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.header nav ul {
  font-family: 'RobotoMono', Courier, monospace;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.header nav ul li {
  padding: 10px;
}

a {
  color: #f5f4d2;
  text-decoration: none;
}

.content {
  background-color: #f5f4d2;
  display: flex;
  flex-direction: column;
}

.aboutme {
  margin: 10%;
  margin-bottom: 5%;
  width: 80%;
  border: 5px solid #2a2e2d;
}

.aboutme h2 {
  color: #f5f4d2;
  background-color: #2a2e2d;
  font-family: 'AnonymousPro', Courier, monospace;
  font-size: 30px;
  margin: 0;
  padding-left: 5px;
}

.aboutme p {
  color: #2a2e2d;
  font-family: 'RobotoMono', Courier, monospace;
  padding: 5px;
  margin: 0;
}

.aboutme img {
  margin: 5px;
  float: right;
  border: 2px solid #2a2e2d;
}

.mywork {
  margin: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 5px solid #2a2e2d;
}

.mywork h2 {
  color: #f5f4d2;
  background-color: #2a2e2d;
  font-family: 'AnonymousPro', Courier, monospace;
  font-size: 30px;
  margin: 0;
  padding-left: 5px;
}

.myworkbox {
  display: grid;
  grid-template-columns: 50% 50%;
}

.work1, .work2, .work3, .work4 {
  color: #f5f4d2;
  border: 5px solid #2a2e2d;
  margin: 4px;
  position: relative;
  transition: 0.5s ease;
}

/* used this for link workaround https://stackoverflow.com/questions/796087/make-a-div-into-a-link */

.link1, .link2, .link3, .link4 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.work1 h3, .work2 h3, .work3 h3, .work4 h3 {
  background-color: #2a2e2d;
  font-family: 'RobotoMono', Courier, monospace;
  inline-size: min-content;
  position: relative;
  border: 5px solid #2a2e2d;
}

/* used this for opacity background image https://coder-coder.com/background-image-opacity/ */

.work1::before {
  content: "";
  background-image: url(../src/assets/000512300013.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
  transition: 0.5s ease;
}

.work2::before {
  content: "";
  background-image: url(../src/assets/000512300014.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
  transition: 0.5s ease;
}

.work3::before {
  content: "";
  background-image: url(../src/assets/000512320025.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
  transition: 0.5s ease;
}

.work4::before {
  content: "";
  background-image: url(../src/assets/000512320035.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
  transition: 0.5s ease;
}

.work1:hover, .work2:hover, .work3:hover, .work4:hover {
 transform: scale(108%);
}

.work1:active, .work2:active, .work3:active, .work4:active {
  border: 5px solid #fe525b;
 }

.work1:active h3, .work2:active h3, .work3:active h3, .work4:active h3 {
  background-color: #fe525b;
  border: 5px solid #fe525b;
}

.work1:hover::before, .work2:hover::before, .work3:hover::before, .work4:hover::before {
  opacity: 1.0;
}

.contact {
  margin: 10%;
  margin-bottom: 5%;
  width: 80%;
  border: 5px solid #2a2e2d;
  margin-top: 5%;
}

.contact h2 {
  color: #f5f4d2;
  background-color: #2a2e2d;
  font-family: 'AnonymousPro', Courier, monospace;
  font-size: 30px;
  margin: 0;
  padding-left: 5px;
}

.contact h2 {
  padding: 5px;
}

.contactbox {
  font-size: 10px;
  display: flex;
  justify-content: space-around;
}

.contactbox ul {
  color: #2a2e2d;
  list-style-type: none;
  padding: 0;
  font-family: 'RobotoMono', Courier, monospace;
}

.contact img {
  filter: invert(14%) sepia(12%) saturate(247%) hue-rotate(114deg) brightness(97%) contrast(91%);
}

.contactrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  grid-area: link;
}

.contactrow img {
  margin: 9px;
}

/* website used to get proper filter colors https://codepen.io/sosuke/pen/Pjoqqp */

.youtube:hover {
  filter: invert(62%) sepia(61%) saturate(6167%) hue-rotate(326deg) brightness(109%) contrast(120%);
}

.github:hover {
  filter: invert(62%) sepia(61%) saturate(6167%) hue-rotate(326deg) brightness(109%) contrast(120%);
}

.footer {
  color: #f5f4d2;
  background-color: #2a2e2d;
  text-align: center;
  font-family: 'RobotoMono', Courier, monospace;
  padding: 10px;
  margin-top: 5%;
}

.footer h2 {
  font-size: 15px;
}

.footer p {
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 2.5%;
  }

  .header h1 {
    font-size: 55px;
    margin-left: 10px;
  }

  .header ul {
    font-size: 20px;
  }

  .aboutme h2, .mywork h2, .contact h2 {
    font-size: 50px;
  }

  .aboutme p {
    font-size: 30px;
  }

  .aboutme img {
    width: 190px;
    border: 5px solid #2a2e2d;
    }
  }

  .myworkbox {
    grid-template-columns: 98%;
  }

  .work1, .work2, .work3, .work4 {
    width: 100%;
  }

  .contactbox ul li {
    display: inline;
    font-size: 20px;
    margin: 5px;
    padding: 10px;
  }

  .contactrow img {
    justify-content: space-around;
  }

@media screen and (min-width: 1365px) {
  .aboutme img {
    margin: 20px;
  }
  .contact .contactcol {
    font-size: 18px;
    gap: 50px;
  }

  .contact .contactrow {
    gap: 50px;
  }

  .contact .contactrow img {
    width: 40px;
  }
}